<html>
    <head>
        <title> </title>

        <!--CSS-->
        <link rel="stylesheet" href="style.css">

        <!--JS-->
        <script src=""></script>
    </head>

    <body>
        <h1>Add / View / Edit / Delete Trainers</h1>
        <hr>
        <form action="">
            First Name: <input type="text" name="Name" id="">
            Last Name: <input type="text" name="Name" id=""><br><br>
            Gender: Male:<input type="radio" name="Gender" value="M" >
                    Female: <input type="radio" name="Gender" value="F" id="">
                    <br><br>
            Email : <input type="email" name="Email" id=""> <br> <br>
            
            Phone : <input type="tel" name="Phone" id="">
            <br><br>
            Address : <input type="text" name="Address" id="">
            <br><br>
            Specialization : AERO<input type="checkbox" name="SPEC" value = "AERO" id="">
            PUSHUPS<input  type="checkbox" name="SPEC" value = "PUSHUPS" id=""  >
            RUNNING<input type="checkbox" name="SPEC" value = "PUSHUPS" id=""  >
            <br><br>
                    <input type="submit" value="Submit">
        </form>
    </body>
</html>