<html>
    <head>
        <title> </title>

        <!--CSS-->
        <link rel="stylesheet" href="style.css">

        <!--JS-->
        <script src=""></script>
    </head>

    <body>
        <h1>Add / View / Edit / Delete Equipments</h1>
        <hr>
        <form action="">
            <button>Add Equipments</button>
            Search : <input type="text">

            <br>
            <br>
            
            <button>Assign Equipments to Members</button>
        </form>
       
        <br>
        <table border="1">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
                <th>action</th>
            </tr>

            <tr>
                <td>1</td>
                <td>treadmill</td>
                <td>1234$</td>
                <td>
                    <button>View </button>
                    <button>Edit </button>
                    <button>Delete</button>
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>bat</td>
                <td>12$</td>
                <td>
                    <button>View </button>
                    <button>Edit </button>
                    <button>Delete</button>
                </td>
            </tr>
            
        </table>

        <br>
       <button>&lt&ltFirst</button> <button>1</button> <button>2</button> <button>Last>> </button>
        <hr>
        
    </body>
</html>