<html>
    <head>
        <title> </title>

        <!--CSS-->
        <link rel="stylesheet" href="style.css">

        <!--JS-->
        <script src=""></script>
    </head>

    <body>
        <h1>Add / View / Edit / Delete Members</h1>
        <hr>
        <form action="">
            <button>Add Members</button>
            Search : <input type="text">
        </form>
       
        <br>
        <table border="1">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>gender</th>
                <th>action</th>
            </tr>

            <tr>
                <td>1</td>
                <td>john</td>
                <td>M</td>
                <td>
                    <button>View </button>
                    <button>Edit </button>
                    <button>Delete</button>
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>Jessy</td>
                <td>F</td>
                <td>
                    <button>View </button>
                    <button>Edit </button>
                    <button>Delete</button>
                </td>
            </tr>
            
        </table>
        
        <br>
       <button>&lt&ltFirst</button> <button>1</button> <button>2</button> <button>Last>> </button>
        <hr>
    </body>
</html>